extends ../layout

block content
  section.breadcrumbs
    .container
      a(href="/") トップページ
      span.hyphen &rang;
      a(href="/admin") 管理者メニュー
      span.hyphen &rang;
      span 予約一覧
  section.admin-list
    .container
      .head-component
        h1 ReservationList
          span 予約一覧
    .container
      table
        thead
          tr
            th No
            th id
            th 施設
            th 部屋
            th 予約者
            th メールアドレス
            th 予約日時
            th 作成日時
            th キャンセル
        tbody
          each reservation, index in reservations
            tr
              td.no #{index + 1}
              td.id #{reservation.reservationId}
              td.officename #{reservation.officename}
              td.spacename #{reservation.space.spacename}
              td.guestname #{reservation.guestname}
              td.mailaddress #{reservation.mailaddress}
              td.date #{reservation.formattedDate} #{reservation.startTimeString}-#{reservation.endTimeString}
              td.createdAt #{reservation.formattedCreatedAt}
              if reservation.canceled
                td.canceled 済
              else
                td.canceled 未
        
