extends layout

block content
  if !loginUser
    section.signin
      .dialog
        form.ui-component(action="/login" method="post")
          div.userid.ui-block
            label.ui-component(id="username") ユーザーネーム
            input.ui-component(type="text" name="username" for="username" placeholder="username")
          div.password.ui-block
            label.ui-component パスワード
            input.ui-component(type="password" name="password" placeholder="password")
          div.ui-block
            button.ui-component(type="submit") ログイン
    section.about
      .container
        .head-component
          h1 About
            span このサービスについて
  else
    - var hasOffice = offices.length > 0 
    if hasOffice
      section.office
        .container
          .office-list
            each office in offices
              .box
                .information
                  .photo
                    img(src="#{office.imgPath}" class="responsive-img")
                  .name #{office.officename}
                .data
                  - var hasSpace = office.spaces.length > 0 
                  if hasSpace
                    ul.space-list
                      each space in office.spaces
                        li.space.clearfix
                          .information.clearfix
                            .name #{space.spacename}
                            .capacity
                              |最大
                              span #{space.capacity}
                              |名
                          .schedule
                            each period in space.periods
                              .period(class="num-#{period.num}")
                                .time #{period.periodname}
                                if period.availability
                                  a.status.available(href="/reserve") &#9675;
                                else
                                  .status.unavailable &#10005;
