extends layout

block content
  section.my-reservation
    .container
      .head-component
        h1 Reservation
          span ご予約一覧
    .container
      .my-reservation-list
        .block
          .line.date
            .head 予定日時
          .line.officename
            .head 施設
          .line.spacename
            .head 部屋
          .line.guestname
            .head お名前
          .line.action
            .head キャンセル
        each reservation, index in reservations
          .block
            .line.date
              .head 予定日時
              .body #{reservation.formattedDate} #{reservation.periodname}
            .line.officename
              .head 施設
              .body #{reservation.officename}
            .line.spacename
              .head 部屋
              .body #{reservation.space.spacename}
            .line.guestname
              .head お名前
              .body #{reservation.guestname}
            .line.action
              .head キャンセル
              .body
                .ui-component.btn-cancel(data-id="#{reservation.reservationId}") キャンセル

block modal
  .section.cancel
    p キャンセルしますか？
    .nav-holder.clearfix
      .button 閉じる
      a.ui-component.confirm(href="/") キャンセル
