extends layout

block content
  section.reserve
    .dialog
      form.ui-component(action="/reserve" method="post")
        input(type="hidden" name="spaceId" id="spaceId" value="#{params.spaceId}")
        input(type="hidden" name="year" id="year" value="#{params.year}")
        input(type="hidden" name="month" id="month" value="#{params.month}")
        input(type="hidden" name="day" id="day" value="#{params.day}")
        input(type="hidden" name="periodnum" id="periodnum" value="#{params.periodnum}")
        .block.office 
          .head 施設名
          .body #{params.officename}
          .body #{params.spacename}
        .block.date
          .head 予約日
          .body #{params.year} 年 #{params.month} 月 #{params.day} 日 #{params.periodname} （#{params.dayofweekstring}）
        .guestname.ui-block
          label.ui-component(for="guestname") お名前
            if message.guestname
              span.message.caution #{message.guestname}
          input.ui-component(type="text" name="guestname" id="guestname" placeholder="guestname")
        .mailaddress.ui-block
          label.ui-component(for="mailaddress") メールアドレス
            if message.mailaddress
              span.message.caution #{message.mailaddress}
          input.ui-component(type="email" name="mailaddress" id="mailaddress" placeholder="mailaddress")
        .ui-block
          .btn-holder
            a.ui-component(href="/?year=#{params.year}&month=#{params.month}&day=#{params.day}") 戻る
          .btn-holder
            button.ui-component(type="submit") 予約
